body {
    font-family: 'Lato', sans-serif;
}

#navbar {
    padding-top: 15px;
    width: 100%;
    top: 0px;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

.active > a {
    font-weight: 700;
    background-color: green;
}

.fp-slidesNav{
    display: flex;
    justify-content: space-around;
}


.container1{
    display: flex !important;
    flex-direction: column !important;
    align-content: space-between;
    /* height: 100%; */
}


.box {
    float: left;
    height: 100%;
    width: 50%
}