* {
    font-family: 'Lato', sans-serif;
    color: black;
}

#navbar {
    padding-top: 15px;
    width: 100%;
    top: 0px;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

li > a {
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    /* color: white !important; */
    opacity: 0.7;
}

.active > a {
    font-weight: 900;
    /* text-shadow: 0px 0px 5px goldenrod; */
    opacity: 1.0;
}


.fp-slidesNav{
    display: flex;
    justify-content: space-around;
}


.container{
    display: flex !important;
    justify-content: center;
    flex-flow: wrap;

}


.box {
    float: left;
    height: 100%;
    width: 50%;
    /* color: white; */
}

#bio {
    /* background-image: url('.././assets/honeycomb_blur.png');
    background-size: cover; */
}

h4 > a {
    font-weight: bold;
}

div > ul{
    list-style-type: none;
}


.bio {
    /* background-color: #E77A18; */
    background-color: white;
}

.portfolio {
    background-color: wheat;
}

.skills {
    background-color: white;
    text-align: center;
    padding: 10px;
}

.contact{
    background-color: wheat;
}

.footer {
    /* margin: auto auto 0 auto; */
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 50px;
    width: 100%;
    /* background-color: blue; */
    color: black;
}

.footer > div > a {
    text-decoration: none;
    opacity: 0.7;
}

i {
    padding: 10px;
}