* {
    font-family: 'Lato', sans-serif;
    color: black;
}

#navbar {
    padding-top: 15px;
    width: 100%;
    top: 0px;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

li > a {
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    /* color: white !important; */
    opacity: 0.7;
}

.active > a {
    font-weight: 900;
    /* text-shadow: 0px 0px 5px goldenrod; */
    opacity: 1.0;
}


.fp-slidesNav{
    display: flex;
    justify-content: space-around;
}


.container{
    display: flex !important;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: baseline;

}


.box {
    float: left;
    height: 100%;
    width: 50%;
    /* color: white; */
}

#bio {
    /* background-image: url('.././assets/honeycomb_blur.png');
    background-size: cover; */
}

h4 > a {
    font-weight: bold;
}

div > ul{
    list-style-type: none;
}


.bio {
    /* background-color: #E77A18; */
    background-color: white;
}

.portfolio, .slide {
    background-color: rgb(247, 230, 198);
}

.skills {
    background-color: white;
    text-align: center;
    padding: 10px;
}

.contact{
    background-color: rgb(247, 230, 198);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 80%;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgb(247, 230, 198);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}





















.footer {
    /* margin: auto auto 0 auto; */
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 50px;
    width: 100%;
    background-color: transparent !important;
    color: black;
}

.footer > div > a {
    text-decoration: none;
    opacity: 0.7;
}

i {
    padding: 10px;
}


.fp-prev {
    animation: pulseLeft 10s !important;
    border-color: transparent !important;
}
.fp-next {
    animation: pulseRight 10s !important;
    border-color: transparent !important;
}
  
@keyframes pulseLeft {
    0% {
        border-color: transparent #001F3F transparent transparent;
    }

    25% {
        border-color: transparent;
    }
    
    75% {
        border-color: transparent #001F3F transparent transparent;
    }
    100% {
        border-color: transparent;
    }
}
@keyframes pulseRight {
    0% {
        border-color: transparent transparent transparent #001F3F;
    }

    25% {
        border-color: transparent;
    }
    
    75% {
        border-color: transparent transparent transparent #001F3F;
    }
    100% {
        border-color: transparent;
    }
}
